# URL base do serviço de autenticação (postoradar-auth)
VITE_AUTH_API_URL=http://localhost:4000/api

# URL base da API principal (postoradar-api)
VITE_API_URL=http://localhost:3333/api

# URL base do serviço de geolocalização (postoradar-geo)
VITE_GEO_API_URL=http://localhost:3334

# URL do serviço de notificações em tempo real (postoradar-notifications)
VITE_NOTIFICATIONS_URL=http://localhost:3335
